.menu {
  width: 350px;
  margin: 10px 0 0 10px;
  padding: 20px;
  box-shadow: 2px 2px 3px 0px #282c34;
}

.menu,
.item-menu {
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.item-menu {
  display: inline-block;
  cursor: pointer;
}

.imagem {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.rotulo {
  margin-top: 7px;
  display: block;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-family: "Roboto Mono", sans-serif;
}

/* *********************************** */
/* Media Queries */
/* *********************************** */
@media (max-width: 370px) {
  .menu {
    width: 200px;
  }

  ul {
    height: 400px;
    flex-direction: column;
  }

  .item-menu {
    width: 150px;
    display: flex;
    align-items: center;
  }
}

@media (pointer: fine) {
  .rotulo {
    visibility: hidden;
  }

  .item-menu:hover .rotulo {
    visibility: visible;
    opacity: 1;
  }
}
