@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Genos:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

#titulo-principal,
#titulo-secundario {
  text-align: center;
  font-family: Alegreya, serif;
}

.lista-de-tarefas {
  height: 85vh;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  font-family: Alegreya, serif;
  font-size: 1.2rem;
  list-style-type: none;
}
