.cabecalho {
  height: 20vh;
  margin: 0px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #6d7991;
  font-family: 'Syne Mono', monospace;
  font-size: 1.2rem;
}

.menu-hamburguer {
  display: block;
  font-size: 3.4rem;
  cursor: pointer;
  color: var(--ebony);
}

.menu ul {
  display: none;
}

.menu ul li {
  margin-right: 20px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black-russian);
  transition:
    text-decoration 10s ease-in,
    color 0.8s ease;
}

.menu ul li a:hover {
  color: var(--ubuntu-orange);
  text-decoration: overline;
}

@media (min-width: 768px) {
  .menu ul {
    display: flex;
  }

  .menu-hamburguer {
    display: none;
  }

  .menu ul {
    justify-content: flex-start;
  }
}
