.imagem {
  width: 100%;
  min-width: 321px;
  display: block;
  margin: 0 auto 25px;
}

.texto {
  text-align: justify;
  text-indent: 1.5em;
  font-size: clamp(20px, 2vw, 27px);
  padding: 10px;
}

@media (orientation: landscape) {
  .conteiner {
    display: flex;
    padding: 10px;
  }

  .imagem {
    width: 47%;
  }

  .texto {
    width: 47%;
  }
}
