.imagem {
  width: 300px;
  display: block;
  margin: 25px auto;
}

.titulo,
.texto {
  font-family: 'Roboto Mono', sans-serif;
}

.titulo {
  text-align: center;
  margin: 15px;
  font-size: 1.5rem;
}

.texto {
  padding: 10px;
  font-size: clamp(10px, 2vw, 30px);
  text-align: justify;
  text-indent: 2em;
}

.texto::first-letter {
  font-weight: 900;
  font-size: 2rem;
}

@media (min-width: 700px) {
  .imagem {
    width: 47%;
  }

  .titulo {
    font-size: 2rem;
  }
}
