.conteiner {
  margin-top: 15px;
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: 'Roboto Mono', sans-serif;
  background-color: #d2d2d2;
}

.pergunta {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.opcoes {
  width: 80%;
}

.resposta {
  margin-top: 15px;
  text-align: justify;
}

li {
  margin: 8px 0;
  list-style-type: upper-alpha;
}

@media (pointer: fine) {
  .opcoes > li {
    cursor: pointer;
  }
}
