.conteiner {
  padding: 20px;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.pergunta {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.respostas {
  margin-top: 15px;
  text-align: justify;
}

.resposta-correta {
  background-color: rgb(175, 247, 175);
}

p {
  margin: 10px 0;
}

li {
  list-style-type: upper-alpha;
}

@media print {
  .respostas {
    display: none;
  }
}
