/* *************************************** */
/* Cabeçalho */
/* *************************************** */
.cabecalho,
.rodape {
  height: 18vh;
  display: flex;
}

.cabecalho {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto Mono", sans-serif;
  color: #050d12;
}

.cabecalho > span {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

.icone {
  width: 70px;
}

/* *************************************** */
/* Conteúdo */
/* *************************************** */
.conteudo {
  display: flex;
  flex-wrap: wrap;
}

.conteiner-imagem,
.conteiner-texto {
  width: 50%;
  min-width: 414px;
  padding: 10px;
}

.imagem {
  width: 100%;
}

.conteiner-texto,
span.texto {
  color: #282c34;
}

.titulo {
  text-align: center;
  margin: 15px 0;
}

.texto {
  text-indent: 1.5rem;
  font-size: 1.2rem;
  text-align: justify;
}

ul.texto {
  margin: 15px 0;
}

li {
  list-style-type: none;
}

/* *************************************** */
/* Rodapé */
/* *************************************** */
.rodape,
.conteiner-texto {
  font-family: "Alegreya", serif;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* *************************************** */
/* Media Queries */
/* *************************************** */
@media (max-width: 868px) {
  .icone {
    width: 60px;
  }

  .cabecalho {
    font-size: 2.8rem;
  }

  .conteiner-imagem,
  .conteiner-texto {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .icone {
    width: 47px;
  }

  .cabecalho > span {
    font-size: 2.2rem;
  }

  .conteiner-imagem,
  .conteiner-texto {
    min-width: 0;
  }
}

@media (max-width: 390px) {
  .icone {
    width: 36px;
  }

  .cabecalho > span {
    font-size: 1.9rem;
  }

  .texto {
    font-size: 1.1rem;
  }
}

@media (max-width: 370px) {
  .cabecalho > span {
    font-size: 1.6rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #282c34;
  }

  .titulo,
  .cabecalho > span,
  .rodape > .texto,
  .texto {
    color: #fff;
  }
}
